#col-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#country-container{
  justify-content: space-around;
}

.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  ;
}

.card-body{
  background-color: whitesmoke;
}
.country-image{
  width:80%;
  height: 100%;
  box-sizing: border-box;
}